.slide{
    background-color: rgba(0, 39, 90, 0.055);
    height: 93.1vh;
}

.item{
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 50px;
    color: white;
    font-size: 25px;
}

.item:hover{
    cursor: pointer;
}

.item a{
    color: inherit;
}
