<div class="container">
    <div class="row mt-5">
        <!--<div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <div>
                        <h1>Agregar una habitacion</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Clase</label>
                            <select class="form-control" #clase>
                                <option value="">Selecciona una clase</option>
                                <option value="simple">Simple</option>
                                <option value="doble">Doble</option>
                                <option value="ejecutiva">Ejecutiva</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Piso</label>
                            <select class="form-control" #piso>
                                <option value="">Seleccione su piso</option>
                                <option value="1">Piso 1</option>
                                <option value="2">Piso 2</option>
                                <option value="3">Piso 3</option>
                                <option value="4">Piso 4</option>
                                <option value="5">Piso 5</option>
                                <option value="6">Piso 6</option>
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-dark color-white" (click)="guardar(clase.value, piso.value)">Guardar</button>
                </div>
            </div>
        </div>-->


        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    <div>
                        <h1>Lista de Habitaciones</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div>
                                <button class="btn btn-primary mb-4" (click)="data.set({mode: 'add', item: null})"><i class="bi bi-plus-square"></i> Añadir</button>
                            </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-7">
                            
                            <table class="table">
                                <thead>
                                    <th scope="col">#</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Piso</th>
                                </thead>
                                <tbody>

                                    @for (item of habitaciones(); track $index) {

                                    <tr>
                                        <td>{{item.id}}</td>
                                        <td>{{item.tipo_habitacion}}</td>
                                        <td>{{item.piso}}</td>
                                        <td>
                                            <button class="btn btn-danger"  (click)="eliminar(item.id)">
                                                <i class="bi-trash-fill"></i>
                                            </button>
                                            -
                                            <button type="button" class="btn btn-primary"
                                             (click)="data.set({mode: 'edit', item: item})">
                                                <i class="bi-pen"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
@let _data = data();
@if (_data != null) {
    @let habi = _data.item;
<div class="modal d-block" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                <button type="button" class="btn-close" (click)="data.set(null)"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <label class="form-label">Clase</label>
                    <select class="form-control" #clase>
                        <option value="">Selecciona una clase</option>
                        <option value="simple">Simple</option>
                        <option value="doble">Doble</option>
                        <option value="ejecutiva">Ejecutiva</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Piso</label>
                    <select class="form-control" #piso>
                        <option value="">Seleccione su piso</option>
                        <option value="1">Piso 1</option>
                        <option value="2">Piso 2</option>
                        <option value="3">Piso 3</option>
                        <option value="4">Piso 4</option>
                        <option value="5">Piso 5</option>
                        <option value="6">Piso 6</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="data.set(null)">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="editar(clase.value, piso.value, habi?.id)">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
}